:root {
  --text: #1c2a33;
  --text-h: #08060d;
  --bg: #f4f8fa;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #c7d2d8;
    --text-h: #f3f4f6;
    --bg: #10171b;
  }
}

body {
  margin: 0;
  min-height: 100svh;
}

h1 {
  font-family: var(--sans);
  font-weight: 500;
  color: var(--text-h);
  font-size: 36px;
  letter-spacing: -0.5px;
}

p {
  margin: 0;
}
